<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bilibili_tv.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09E17B062F9342C20041C0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E17B152F9342C40041C0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09E17B1F2F9342C40041C0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
